/*body*/
body{
font-family: 'Handjet';
background-color: #ff9526;
}


/*header*/
h1.heading{
    display: grid;
    justify-content: center;
    font-size: 60px;
    color: wheat;
    text-shadow: 2px 0px #1b3d17;
}


/*main*/
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.statusText{
    margin: auto;
    color: #009688;
    font-size: 40px;
    text-shadow: 2px 0px #f5deb3d0;
    font-family: 'Times New Roman', Times, serif;
}


button#restartBtn{
    background-color:#009688;
    border-radius: 5px;
    border-color: #009688d0;
    color: wheat;
    font-size: large;
    width: 100px;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}


button#rstbtn:hover{
    cursor: pointer;
}
.gameboard{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 20px;
    margin-top: 50px;
}


[cellIndex*="0"], [cellIndex*="1"], [cellIndex*="2"], [cellIndex*="3"], [cellIndex*="4"], [cellIndex*="5"]{
    border-bottom: solid 5px;
    border-color: wheat;
    box-shadow: 2px 0px 10px #bbbbbbd0;
}


[cellIndex*="0"], [cellIndex*="1"],[cellIndex*="3"],[cellIndex*="4"],[cellIndex*="6"],[cellIndex*="7"]{
    border-right: wheat solid 5px;
    box-shadow: 2px 0px 10px #bbbbbbd0;
}


[cellIndex*="8"]{
    box-shadow: 2px 0px 10px #bbbbbbd0;
}


.cell{
    font-size: 50px;
    color: #009688;
    text-shadow: 2px 0px #f5deb3d0;
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
}


/*footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #bbbbbbd0;
}


svg{
    font-size: 20px;
    color: black;
}


svg:hover{
    color: #ff9526;
}